/*who are we*/
#who_are_we{
    padding: 100px 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
#who_are_we img{
    height: 400px;
}
#who_are_we_text{
    margin-left: 25px;
}
#who_are_we_text h3{
    margin-bottom: 10px;
}
#who_are_we_text p{
    width: 500px;
    font-size: 35px;
    color: white;
    text-align: justify;
    margin: 0;
}
/*----------------------------------------------------------------------------------------------*/

/*contact*/
#contact{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 75px 0;
}
#contact_links{
    display: flex;
    justify-content: center;
    align-items: center;
}
.contact_link{
    aspect-ratio: 1/1;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 1000px;
    background-color: rgb(10, 10, 10);
    width: 100px;
    margin: 0 10px;
    transition: 0.25s;
}
.contact_link:hover{
    background-color: black;
}
.contact_link img{
    width: 45px;
    filter: drop-shadow(0 0 10px black);
}
/*----------------------------------------------------------------------------------------------*/

/*staff*/
#staff{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 75px 0;
}
#staff_description{
    font-size: 35px;
    color: white;
    margin: 0 0 30px;
    width: 780px;
    text-align: center;
}
.staff_group{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0 30px;
}
.staff_member{
    width: 225px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: white;
    margin: 0 10px;
    transition: 0.25s;
    padding: 20px 10px;
    border-radius: 15px;
}
.staff_member:hover{
    background-color: rgba(0, 0, 0, 0.25);
}
.staff_member img{
    width: 100%;
    aspect-ratio: 1/1;
    border-radius: 1000px;
    background-color: rgba(0, 0, 0, 0.5);
}
.staff_member p{
    font-size: 25px;
    text-align: center;
}
.staff_member_name{
    margin: 15px 0 10px;
    font-weight: bold;
}
.staff_member_position{
    margin: 0;
}
/*----------------------------------------------------------------------------------------------*/