/*general*/
@font-face {
    font-family: "Source_sans";
    src: url(fonts/source_sans/SourceSansPro-Regular.otf);
}
*{
    font-family: "Source_sans";
}
body{
    margin: 0;
    background-color: rgb(20, 20, 20);
}
main{
    min-height: 100vh;
}

h3{
    color: white;
    text-shadow: 0 0 10px black;
    font-size: 50px;
    margin-top: 0;
    margin-bottom: 30px;
}
h4{
    color: white;
    font-size: 37.5px;
    text-shadow: 0 0 5px black;
    margin-top: 0;
}
/*----------------------------------------------------------------------------------------------*/

/*nav*/
nav{
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 98%;
    padding: 10px 1%;
    height: 8vh;
    transition: 0.5s;
    z-index: 100;
}
.scrolled_nav{
    background-color: rgb(20, 20, 20);
    box-shadow: 0 0 10px black;    
}
.unscrolled_nav img{
    opacity: 0;
}
nav img{
    height: 95%;
    transition: 0.5s;
}
.nav_page, .current_nav_page{
    text-decoration: none;
    font-size: 22.5px;
    text-align: center;
    padding: 0px 17px;
    border-radius: 1000px;
    margin-left: 5px;
    transition: 0.25s;
}
.nav_page:hover, .current_nav_page:hover{
    background-color: rgba(255, 255, 255, 0.125);
}
.nav_page{
    color: white;
}
.current_nav_page{
    color: black;
    font-weight: bold;
    background-color: white;
}
.current_nav_page:hover{
    background-color: white;
}
/*----------------------------------------------------------------------------------------------*/

/*footer*/
footer{
    background-color: black;
    padding: 50px;
}
#footer_logo{
    height: 100px;
}
#footer_sitemap{
    margin: 25px 0;
}
footer hr{
    border: 0;
    height: 5px;
    background-color: white;
}
#footer_bottom{
    display: flex;
    justify-content: space-between;
}
#footer_copy{
    color: white;
    font-size: 20px;
    margin: 0;
}
#footer_bottom_links a{
    font-size: 20px;
    color: white;
    text-decoration: none;
}
/*----------------------------------------------------------------------------------------------*/

/*trusted by*/
#trusted_by{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#trusting_brands{
    display: flex;
    justify-content: center;
    align-content: end;
    width: 100%;
}
.trusting_brand_holder{
    aspect-ratio: 1/1;
    width: 16.66667%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.trusting_brand{
    height: 90%;
    width: 90%;
    border: 3px black solid;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.25s;
}
.trusting_brand:hover{
    background-color: rgb(10, 10, 10);
}
.trusting_brand img{
    width: 70%;
}
/*----------------------------------------------------------------------------------------------*/