/*banner*/
#banner{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
#banner img{
    height: 150px;
    max-height: 30vh;
}
#banner p{
    text-align: center;
    font-size: 70px;
    color: white;
    margin: 10px 0 0 0;
    max-width: 55%;
}
/*----------------------------------------------------------------------------------------------*/

/*presentation*/
#presentation{
    display: flex;
    margin: 75px 0;
}
#presentation img{
    aspect-ratio: 3/2;
    width: 45%;
}
#presentation_text{
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 5% 0 10%;
}
#presentation_text p{
    color: white;
    font-size: 30px;
    text-align: justify;
}
#presentation_text a{
    color: white;
    text-decoration: none;
    font-size: 35px;
    padding: 5px 25px;
    background-color: red;
    transition: 0.25s;
}
#presentation_text a:hover{
    background-color: black;
}
/*----------------------------------------------------------------------------------------------*/

/*mission*/
#mission{
    display: flex;
    margin: 75px 0;
}
#mission img{
    aspect-ratio: 3/2;
    width: 45%;
}
#mission_text{
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 10% 0 5%;
}
#mission_text h3{
    margin: 0 0 15px;
}
#mission_text p{
    color: white;
    font-size: 30px;
    text-align: justify;
    margin: 0;
}
/*----------------------------------------------------------------------------------------------*/

/*strategy*/
#strategy{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 75px 0;
}
.strategy_point{
    display: flex;
    margin: 30px 0;
}
.strategy_point img{
    aspect-ratio: 1/1;
    height: 200px;
}
.strategy_point_text{
    width: 400px;
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.sp_left .strategy_point_text{
    margin-left: 20px;
    align-items: flex-start;
}
.sp_right .strategy_point_text{
    margin-right: 20px;   
    align-items: flex-end; 
}
.strategy_point_text h4{
    margin: 0 0 5px;
}
.strategy_point_text p{
    font-size: 30px;
    margin: 0;
    text-align: justify;
    color: white;
}
.sp_left{
    margin-right: 300px;
}
.sp_right{
    margin-left: 300px;
    flex-direction: row-reverse;
}
/*----------------------------------------------------------------------------------------------*/

/*services*/
#services{
    display: flex;
    margin: 75px 0;
}
#services img{
    aspect-ratio: 3/2;
    width: 45%;
}
#services_text{
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 5% 0 10%;
}
#services_text h3{
    margin: 0 0 15px;
}
#services_text p{
    color: white;
    font-size: 30px;
    text-align: justify;
    margin: 0 0 15px;
}
#services_text a{
    color: white;
    text-decoration: none;
    font-size: 35px;
    padding: 5px 25px;
    background-color: red;
    transition: 0.25s;
}
#services_text a:hover{
    background-color: black;
}
/*----------------------------------------------------------------------------------------------*/

/*appreciation*/
#appreciation{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 75px 0;
}
#comments_holder{
    aspect-ratio: 3/2;
    width: 55%;
    background-color: black;
    overflow: hidden;
}
#comments{
    width: 400%;
    display: flex;
    height: 100%;
    transition: 1.5s;
}
.comment{
    width: 25%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.comment p{
    color: white;
    width: 80%;
    text-align: justify;
    font-size: 35px;
}
.comment_content{
    margin-top: 0;
}
.comment_author{
    font-weight: bold;
    margin: 0;
}
/*----------------------------------------------------------------------------------------------*/