.service{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.service h3{
    margin: 0;
}
.reversed{
    flex-direction: row-reverse;
}
.service img{
    aspect-ratio: 1/1;
    width: 35%;
}
.service_text{
    width: 45%;
    display: flex;
    flex-direction: column;
}
.normal .service_text{
    margin: 0 15% 0 5%;
    align-items: flex-start;
}
.reversed .service_text{
    margin: 0 5% 0 15%;
    align-items: flex-end;
}
.service_text p{
    font-size: 35px;
    color: white;
    text-align: justify;
}
.service_text a{
    text-decoration: none;
    color: white;
    background-color: red;
    font-size: 35px;
    padding: 5px 25px;
    transition: 0.25s;
}
.service_text a:hover{
    background-color: black;
}

/*for bigger tablets*/
@media(max-width:1079px){
    .service{
        height: auto;
        padding: 75px 0;
    }
    .service img{
        width: 45%;
    }
    .service_text{
        width: 45%;
    }
    .normal .service_text{
        margin: 0 7.5% 0 2.5%;
    }
    .reversed .service_text{
        margin: 0 2.5% 0 7.5%;
    }
}

/*for big tablets*/
@media(max-width:850px){
    .service_text p{
        font-size: 30px;
        margin: 15px 0;
    }
    .service_text a{
        font-size: 30px;
    }
}

/*for normal tablets*/
@media(max-width:800px){
    .service_text p{
        font-size: 30px;
    }    
}

/*for small tablets*/
@media(max-width:650px){
    .service_text{
        width: 50%;
    }
    .normal .service_text{
        margin: 0 2.5%;
    }
    .reversed .service_text{
        margin: 0 2.5%;
    }
    .service_text p{
        font-size: 25px;
        margin: 15px 0;
    }
    .service_text a{
        font-size: 25px;
    }
}

/*for phones*/
@media(max-width:450px){
    .service{
        flex-direction: column;
        height: auto;
        padding: 100px 0 0;
        aspect-ratio: 1/1;
    }
    .reversed{
        flex-direction: column;
    }
    .service img{
        aspect-ratio: inherit;
        width: 100%;
    }
    .service_text{
        width: 100%;
        aspect-ratio: inherit;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: rgba(0, 0, 0, 0.25);
        backdrop-filter: blur(3px);
        position: absolute;
    }
    .normal .service_text{
        margin: 0;
        align-items: center;
    }
    .reversed .service_text{
        margin: 0;
        align-items: center;
    }
    .service_text h3{
        width: 85%;
        text-align: center;
    }
    .service_text p{
        font-size: 25px;
        width: 85%;
    }
    .service_text a{
        font-size: 25px;
    }
}