.service{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.service h3{
    margin: 0;
}
.reversed{
    flex-direction: row-reverse;
}
.service img{
    aspect-ratio: 1/1;
    width: 35%;
}
.service_text{
    width: 45%;
    display: flex;
    flex-direction: column;
}
.normal .service_text{
    margin: 0 15% 0 5%;
    align-items: flex-start;
}
.reversed .service_text{
    margin: 0 5% 0 15%;
    align-items: flex-end;
}
.service_text p{
    font-size: 35px;
    color: white;
    text-align: justify;
}
.service_text a{
    text-decoration: none;
    color: white;
    background-color: red;
    font-size: 35px;
    padding: 5px 25px;
    transition: 0.25s;
}
.service_text a:hover{
    background-color: black;
}