/*general*/
@font-face {
    font-family: "Source Sans";
    src: url(fonts/SourceSansPro-Regular.otf);
}

*{
    font-family: "Source Sans";
}

body{
    margin: 0;
}
main{
    overflow: hidden;
    z-index: 0;
    position: relative;
}
.black{
    background-color: black;
    color: white;
}
.page_banner{
    width: 100%;
}
/*-----------------------------------------------------------------------------------------------------*/

/*waves*/
.top_wave1 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
    margin-top: -2px;
}
.top_wave1 svg {
    position: relative;
    display: block;
    width: calc(150% + 1.3px);
    height: 32px;
}
.top_wave1 .shape-fill {
    fill: #FFFFFF;
}

.top_wave2 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
    margin-top: -2px;
}
.top_wave2 svg {
    position: relative;
    display: block;
    width: calc(118% + 1.3px);
    height: 47px;
}
.top_wave2 .shape-fill {
    fill: #FFFFFF;
}

.bottom_wave1 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    margin-bottom: -2px;
}
.bottom_wave1 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 27px;
}
.bottom_wave1 .shape-fill {
    fill: #FFFFFF;
}
/*-----------------------------------------------------------------------------------------------------*/

/*nav*/
nav{
    position: fixed;
    width: 100%;
    z-index: 99;
}
#nav_header{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 5px 15px;
    margin: 0;
    height: 50px;
}
#nav_header p{
    font-weight: bold;
    font-size: 50px;
    margin: 0;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 35px;
    height: 35px;
    box-shadow: 0 0 5px white;
    z-index: 100;
}
#nav_links_holder{
    display: flex;
    justify-content: flex-end;
    height: 100vh;
    width: 100vw;
    margin: -60px 0 0 0;
}
#nav_links{
    background-color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    box-shadow: 0 0 15px rgb(128, 124, 124);
    transition: 1s;
    opacity: 0;
    transform: translateX(100%);
    z-index: 99;
}
#nav_links a{
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-size: 25px;
    text-align: center;
    width: 25%;
    height: 40px;
    transition: 0.25s;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5px 0;
}
#nav_links a:hover{
    background-color: rgb(16, 16, 16);
}
#current_page{
    background-color: rgb(16, 16, 16);
    border: 2px solid white;
}
/*-----------------------------------------------------------------------------------------------------*/

/*footer*/
footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 50px 0;
    position: relative;
}
.footer_logo{
    height: 60px;
}
#white_logo{
    display: none;
}
.black #black_logo{
    display: none;
}
.black #white_logo{
    display: block;
}
.footer_socials{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}
#white_footer_socials{
    display: none;
}
.black #black_footer_socials{
    display: none;
}
.black #white_footer_socials{
    display: block;
}
.footer_socials a{
    margin: 0 5px;
}
.footer_socials img{
    height: 40px;
}
footer p{
    text-align: center;
}
#copyright_white{
    color: black;
}
.black #copyright_white{
    text-align: center;
    display: none;
}
/*-----------------------------------------------------------------------------------------------------*/

/*animations*/
.hidden_fade-in{
    opacity: 0;
    transition: 1.5s;
}
.shown_fade-in{
    opacity: 1;
}

.hidden_slide_from_left{
    opacity: 0;
    filter: blur(1px);
    transform: translateX(-25%);
    transition: 0.5s;
}
.show_slide_from_left{
    opacity: 1;
    filter: blur(0px);
    transform: translateX(0%);
}

.hidden_slide_from_right{
    opacity: 0;
    filter: blur(1px);
    transform: translateX(25%);
    transition: 0.5s;
}
.show_slide_from_right{
    opacity: 1;
    filter: blur(0px);
    transform: translateX(0%);
}

.hidden_slide_from_bottom{
    opacity: 0;
    filter: blur(1px);
    transform: translateY(25%);
    transition: 0.5s;
}
.show_slide_from_bottom{
    opacity: 1;
    filter: blur(0px);
    transform: translateY(0%);
}
/*-----------------------------------------------------------------------------------------------------*/

@media (max-width:450px){
    #nav_header p{
        font-size: 37.5px;
    }
    #nav_links a{
        width: 50%;
    }
}